* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

:root {
  --brown: rgb(131, 74, 0);
}

body {
  background-color: black;
  color: azure;
}

/*Header*/
span {
  color: var(--brown);
  font-size: 4rem;
}

.nav-container {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Braah One", sans-serif;
}

.menu-container {
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.menu-container li:hover {
  background-color: rgb(26, 25, 25);
  border: 1px solid rgb(37, 37, 37);
  border-radius: 10px;
  transition: 0.3s;
}

.menu-container li {
  border: 1px solid transparent;
  list-style: none;
  padding: 0.7rem;
  transition: 0.3s;
}

.menu-container li a {
  text-decoration: none;
  font-size: 18px;
  color: azure;
  font-family: "Quicksand", sans-serif;
}

/*Slides*/
.slides-container {
  margin: 2rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-primary > img {
  width: 25rem;
  height: 25rem;
}

.slide-secondary > img {
  width: 12rem;
  height: 7rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brown);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  top: calc(100% - 40px);
  font-family: "Quicksand", sans-serif;
}
